<!doctype html>

<html lang="en">
<div class="container">
    <div class="text-center">
<head>
    <meta charset="utf-8">

    <title>index</title>
    <meta name="description" content="index">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
    


</head>
    <h1>Shelter Finder</h1>
<body>
    <p>Welcome
        <%= currentUser.email %>!</p>
    
    <a href="/shelters">View all shelters</a>
    <a href="/shelters/search">Search shelters</a>
</body>

</div>
</div>
</html>