<!doctype html>

<html lang="en">
<div class="container">
    <div class="span12">
   
<head>
    <meta charset="utf-8">

    <title>index</title>
    <meta name="description" content="index">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

</head>
<div class="text-center">
<h1>Shelter Finder</h1>
</div>

<body>
    <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>
    
    <a href="/register">Register</a>
</body>

</div>
</div>

</html>