<h1>Search Shelters</h1>

<form action="/shelters/search/results" method="POST">
	<label>Search by gender</label>
	<input type="radio" name="gender" value="male"> Male<br>
	<input type="radio" name="gender" value="female"> Female<br>
	<input type="radio" name="gender" value="unspecified"> Unspecified
	<button type="submit">Search</button>
</form>